src/employee.pug
doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Мякишева Людмила Геннадьевна
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		
		// HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
		// WARNING: Respond.js doesn't work if you view the page via file://
		//if lt IE 9
			script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
			script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
	body
		include includes/header.pug

		.content
			section.inner
				.container
					.inner-wrap.row
						.col-md-8
							.inner-content
								ul.breadcrumbs
									li
										a(href='/') Главная
									li
										a(href='/doctors/') Коллектив
									li Мякишева Людмила Геннадьевна
								.doctor-detail.row
									.col-sm-3
										.doctor-profile
											.doctor-profile__img
												img(src='https://primula.su/img.php/?src=/upload/iblock/598/team_2.jpg&w=188&h=188', alt='')
											.doctors-profile__experience 
												span Стаж
												span
													| 19
													small лет
											a.btn.btn-green(href="javascript:void(0);") Записаться к врачу
									.col-sm-9
										.doctor-info
											h1 Мякишева Людмила Геннадьевна
											ul.doctor-info-tags
												li
													a(href="javascript:void(0);") Директор
												li
													a(href="javascript:void(0);") Главный врач
												li
													a(href="javascript:void(0);") Врач-акушер-гинеколог
												li
													a(href="javascript:void(0);") Врач-УЗД
											article
												p 
													| Диплом - Красноярская государственная медицинская академия. Присуждена квалификация по специальности врач «лечебное дело». г.Красноярск, 2001г.
													br
													br
													| Интернатура - специальность «акушерство и гинекология», Министерство Здравоохранения РФ Московский государственный медико-стоматологический университет МЗМО. г. Москва, 2004г.
												.list-achievements
													.dropdown
														.dropdown-wrap
															.dropdown__header
																| Свидетельства о повышении квалификации врач-УЗД:
																span 
																	| Показать
																	i.fa.fa-chevron-down
															.dropdown__body
																.dropdown__body-wrap
																	ul.alternation-list
																		li Подготовка пациентов к лабораторным методам обследований и правила сбора биологического материала 
																		li Порт - система Селсайт (Celsite) 
																		li Проведение добровольного обследования на антитела к ВИЧ 
													.dropdown
														.dropdown-wrap
															.dropdown__header
																| Свидетельства о повышении квалификации Врач-акушер-гинеколог:
																span 
																	| Показать
																	i.fa.fa-chevron-down
															.dropdown__body
																.dropdown__body-wrap
																	ul.alternation-list
																		li Подготовка пациентов к лабораторным методам обследований и правила сбора биологического материала 
																		li Порт - система Селсайт (Celsite) 
																		li Проведение добровольного обследования на антитела к ВИЧ 
													.dropdown
														.dropdown-wrap
															.dropdown__header
																| Свидетельства о повышении квалификации Врач-акушер-гинеколог:
																span 
																	| Показать
																	i.fa.fa-chevron-down
															.dropdown__body
																.dropdown__body-wrap
																	ul.alternation-list
																		li Подготовка пациентов к лабораторным методам обследований и правила сбора биологического материала 
																		li Порт - система Селсайт (Celsite) 
																		li Проведение добровольного обследования на антитела к ВИЧ 
						.col-md-4
							.sidebar
								h3 Наши услуги
								ul.sidebar-menu
									li
										a(href='/uslugi/141.html')
											span Аллергология и иммунология
									li
										a(href='/uslugi/140.html')
											span Акушерство и гинекология
									li
										a(href='/uslugi/142.html')
											span Андрология и урология
									li
										a(href='/uslugi/143.html')
											span Гематология
									li
										a(href='/uslugi/144.html')
											span Дерматология и венерология
									li
										a(href='/uslugi/145.html')
											span Сердечно-сосудистая хирургия
									li
										a(href='/uslugi/146.html')
											span Неврология
									li
										a(href='/uslugi/147.html')
											span Онкология и маммология
									li
										a(href='/uslugi/148.html')
											span Офтальмология
									li
										a(href='/uslugi/149.html')
											span Педиатрия
									li
										a(href='/uslugi/150.html')
											span Процедурный кабинет
									li
										a(href='/uslugi/151.html')
											span Терапия и гастроэнтерология
									li
										a(href='/uslugi/84.html')
											span Ультразвуковая диагностика
									li
										a(href='/uslugi/83.html')
											span Эндокринология
					.certificate-slider.slider
						.certificate-slider__item
							a.zoom-btn.fancybox(href='/upload/iblock/d5d/sertifikat Myakisheva1.jpg')
								i.zoom-icon
							a.fancybox.certificate-slider__item--img(href='/upload/iblock/d5d/sertifikat Myakisheva1.jpg')
								img(src='https://primula.su/img.php/?src=/upload/iblock/d5d/sertifikat Myakisheva1.jpg&w=213&h=267', alt='')
						.certificate-slider__item
							a.zoom-btn.fancybox(href='/upload/iblock/cbc/sertifikat Myakisheva2_780x552.jpg')
								i.zoom-icon
							a.fancybox.certificate-slider__item--img(href='/upload/iblock/cbc/sertifikat Myakisheva2_780x552.jpg')
								img(src='https://primula.su/img.php/?src=/upload/iblock/cbc/sertifikat Myakisheva2_780x552.jpg&w=213&h=267', alt='')
					section.section.schedule
						h2
							span Расписание работы
						table.schedule-table
							thead
								tr
									td
									td Пн
									td Вт
									td Ср
									td Чт
									td Пт
									td Сб
									td Вс
							tbody
								tr
									td.schedule-table__doctor
										div(style='display: flex;')
											img(src='https://primula.su/img.php/?src=/upload/iblock/598/team_2.jpg&w=67&h=67', alt='')
											span(style='padding-top: 10px;')
												a(href='/doctors/myakisheva-lyudmila-gennadevna.html') Мякишева Людмила Геннадьевна
									td(colspan='1') 17.30-20.30
									td(colspan='1') 12.00-17.00
									td(colspan='1') -
									td(colspan='1') 09.00-13.00
									td(colspan='1') 17.30-20.30
									td(colspan='1') 10.00-14.00
									td(colspan='1') по нечетным 10.00-14.00
						.center-align
							a.fancybox.btn.btn-green(href='#modal-appointment')
								span Записаться онлайн
								i.icon.icon-arrow-next
			.consultation
				.container
					form.form.consultation-form.sendMessageForm(action='#')
						.consultation-form__subtitle
							br
							br
							| Остались вопросы?
						.consultation-form__title
							| Обратитесь на консультацию к специалисту
						.consultation-form__row
							input.form-field(type='text', required='', name='name', placeholder='Имя Фамилия Отчество')
							input.form-field.phoneMask(type='text', required='', name='phone', placeholder='Номер телефона')
							button.btn.btn-green__transparent(type='submit') Отправить
						.form-agreement
							input#agreement(type='checkbox')
							label(for='agreement')
								| согласен с 
								a(href='/politika-konfidentsialnosti/') Пользовательским соглашением
								| об обработке и передачи персональных данных
		footer.footer
			.container
				.footer-content
					.footer-contacts
						.footer-title Частный медицинский центр "ПРИМУЛА"
						.footer-address Красноярск, мкр-н Новая Покровка, ул. Чернышевского 63.
						.footer-phone
							.footer-phone-list
								.header-phone__item
									strong
										a(href='tel:73912068073') +7 (391) 206-80-73
									|  /
									a(href='tel:73912806078')  280-60-78
								.header-phone__item
									a(href='tel:73912806079') +7 (391) 280-60-79
							.footer-phone__title - координатор по лечению варикоза
						a.footer-mail(href='mailto:info@primula.su') info@primula.su
					ul.footer-menu
						li
							a(href='/raspisanie/') Расписание клиники
						li
							a(href='/prays/') Наш прайс
						li
							a(href='/stati/') Статьи
						li
							a(href='/kontakty/') Контакты
						li
							a(href='/ogrn-litsenziya/') ОГРН, Лицензия
						li
							a(href='/nadzornye-organy/') Надзорные органы
						li
							a(href='/ustav/') Устав
						li
							a(href='/otzyvy/') Отзывы
						li
							a(href='/karta-sayta/') Карта сайта
						li
							a(href='/politika-konfidentsialnosti/')
								| Политика
								br
								|  конфиденциальности
						li
							a(href='/pravila-okazaniya-meditsinskikh-uslug/')
								| Правила оказания
								br
								|  медицинских услуг
					a.footer-up(href='javascript:void(0);')
						i.fa.fa-angle-up
				.footer-bottom
					.footer-copyright © 2019 ООО ЧМЦ "Примула"
					.footer-warning
						| Имеются противопоказания.
						br
						|  Необходима консультация специалиста.
					ul.footer-social
						li
							a(href='https://vk.com/public174510274')
								img(src='/local/templates/main/img/icon-social-vk.svg', alt='')
						li
							a(href='https://www.instagram.com/primula24/')
								img(src='/local/templates/main/img/icon-social-inst.svg', alt='')

dist/employee.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Мякишева Людмила Геннадьевна</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries-->
    <!-- WARNING: Respond.js doesn't work if you view the page via file://-->
    <!--if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    -->
  <link href="main.css" rel="stylesheet"></head>
  <body>
<header>
  <div class="header-top">
    <div class="container">
      <div class="justify-align">
        <ul class="header-top__menu">
          <li><a href="/company/">Про нас</a></li>
          <li><a href="/stati/">Статьи</a></li>
          <li><a href="/patsientu/">Пациенту</a></li>
          <li><a href="/otzyvy/">Отзывы</a></li>
        </ul><a class="poorvision" id="specialButton" href="#">Версия для слабовидящих</a>
      </div>
    </div>
  </div>
  <div class="header-middle">
    <div class="container">
      <div class="header-middle__wrap justify-align">
        <div class="header-middle__left">
          <ul class="header-social">
            <li><a href="javascript:void(0);"><img src="https://primula.su/local/templates/main/img/icon-social-vk.svg" alt=""></a></li>
            <li><a href="javascript:void(0);"><img src="https://primula.su/local/templates/main/img/icon-social-inst.svg" alt=""></a></li>
          </ul>
        </div><a class="logo" href="/"><img src="https://primula.su/local/templates/main/img/logo.png" alt=""></a>
        <div class="header-middle__right"><a class="header-phone" href="tel:73912068073">+7 (391) 206-80-73</a></div>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
      <div class="justify-align">
        <button class="burger-menu"><span></span><span></span><span></span></button>
        <ul class="main-menu">
          <li class="drop"><a href="/uslugi/">Услуги</a><i class="icon icon-arrow-down"></i>
            <ul>
              <li><a href="/uslugi/allergologiya-i-immunologiya.html">Аллергология и иммунология</a></li>
              <li><a href="/uslugi/akusherstvo-i-ginekologiya.html">Акушерство и гинекология</a></li>
              <li><a href="/uslugi/andrologiya-i-urologiya.html">Андрология и урология</a></li>
              <li><a href="/uslugi/gematologiya.html">Гематология</a></li>
              <li><a href="/uslugi/dermatologiya-i-venerologiya.html">Дерматология и венерология</a></li>
              <li><a href="/uslugi/serdechno-sosudistaya-khirurgiya.html">Сердечно-сосудистая хирургия</a></li>
              <li><a href="/uslugi/nevrologiya.html">Неврология</a></li>
              <li><a href="/uslugi/onkologiya-i-mammologiya.html">Онкология и маммология</a></li>
              <li><a href="/uslugi/oftalmologiya.html">Офтальмология</a></li>
              <li><a href="/uslugi/pediatriya.html">Педиатрия</a></li>
              <li><a href="/uslugi/protsedurnyy-kabinet.html">Процедурный кабинет</a></li>
              <li><a href="/uslugi/terapiya-i-gastroenterologiya.html">Терапия и гастроэнтерология</a></li>
              <li><a href="/uslugi/ultrazvukovaya-diagnostika.html">Ультразвуковая диагностика</a></li>
              <li><a href="/uslugi/endokrinologiya.html">Эндокринология</a></li>
            </ul>
          </li>
          <li><a href="/prays/">Прайс</a></li>
          <li><a href="/raspisanie-priyoma-doktorov/">Расписание</a></li>
          <li><a href="/doctors/">Коллектив</a></li>
          <li><a href="/kontakty/">Контакты</a></li>
        </ul><a class="btn fancybox" href="#modal-appointment">Записаться на приём</a>
      </div>
    </div>
    <div class="modal modal-appointment" id="modal-appointment">
      <div class="modal-header">Запись к специалисту</div>
      <div class="modal-body">
        <form class="modal-form sendMessageForm2">
          <div class="modal-form__item">
            <label>Ваше имя</label>
            <input class="modal-form__field" type="text" name="name" required="" placeholder="Имя">
          </div>
          <div class="modal-form__item">
            <label>Ваш телефон</label>
            <input class="phoneMask modal-form__field" type="text" name="phone" required="" placeholder="+7 ХХХ ХХХ ХХ-ХХ">
          </div>
          <div class="modal-form__item">
            <label>Выберите специалиста</label>
            <div class="select-wrap">
              <select name="spec">
                <option value="Акушер-гинеколог">Акушер-гинеколог</option>
                <option value="Аллерголог-иммунолог">Аллерголог-иммунолог</option>
                <option value="Андролог-уролог">Андролог-уролог</option>
                <option value="Врач уролог">Врач уролог</option>
                <option value="Врач функциональной диагностики">Врач функциональной диагностики</option>
                <option value="Гематолог">Гематолог</option>
                <option value="Кабинет УЗД">Кабинет УЗД</option>
                <option value="Кардиолог">Кардиолог</option>
                <option value="Онколог">Онколог</option>
                <option value="Сердечно-сосудистый хирург">Сердечно-сосудистый хирург</option>
                <option value="Терапевт.Гастроэнтеролог">Терапевт.Гастроэнтеролог</option>
                <option value="Эндокринолог">Эндокринолог</option>
              </select>
            </div>
          </div>
          <div class="modal-form__item">
            <label>Дата приема</label>
            <input class="modal-form__field" type="date" value="2020-03-05" min="2020-03-05" name="date" placeholder="12.12.2015">
          </div>
          <div class="modal-form__item">
            <label>Время приема</label>
            <input class="modal-form__field" type="text" name="time" placeholder="12:00">
          </div>
          <button class="btn">Записаться</button>
        </form>
      </div>
    </div>
    <div class="modal modal-thanks" id="modal-thanks">
      <div class="modal-header">Спасибо за обращение</div>
      <div class="modal-body">
        <p>Вам перезвонят через 5 минут</p>
        <button class="btn" data-fancybox-close="">Хорошо</button>
      </div>
    </div>
  </div>
</header>
    <div class="content">
      <section class="inner">
        <div class="container">
          <div class="inner-wrap row">
            <div class="col-md-8">
              <div class="inner-content">
                <ul class="breadcrumbs">
                  <li><a href="/">Главная</a></li>
                  <li><a href="/doctors/">Коллектив</a></li>
                  <li>Мякишева Людмила Геннадьевна</li>
                </ul>
                <div class="doctor-detail row">
                  <div class="col-sm-3">
                    <div class="doctor-profile">
                      <div class="doctor-profile__img"><img src="https://primula.su/img.php/?src=/upload/iblock/598/team_2.jpg&amp;w=188&amp;h=188" alt=""></div>
                      <div class="doctors-profile__experience"> <span>Стаж</span><span>19<small>лет</small></span></div><a class="btn btn-green" href="javascript:void(0);">Записаться к врачу</a>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <div class="doctor-info">
                      <h1>Мякишева Людмила Геннадьевна</h1>
                      <ul class="doctor-info-tags">
                        <li><a href="javascript:void(0);">Директор</a></li>
                        <li><a href="javascript:void(0);">Главный врач</a></li>
                        <li><a href="javascript:void(0);">Врач-акушер-гинеколог</a></li>
                        <li><a href="javascript:void(0);">Врач-УЗД</a></li>
                      </ul>
                      <article>
                        <p>
                           Диплом - Красноярская государственная медицинская академия. Присуждена квалификация по специальности врач «лечебное дело». г.Красноярск, 2001г.<br><br>Интернатура - специальность «акушерство и гинекология», Министерство Здравоохранения РФ Московский государственный медико-стоматологический университет МЗМО. г. Москва, 2004г.</p>
                        <div class="list-achievements">
                          <div class="dropdown">
                            <div class="dropdown-wrap">
                              <div class="dropdown__header">Свидетельства о повышении квалификации врач-УЗД:<span>
                                   Показать<i class="fa fa-chevron-down"></i></span></div>
                              <div class="dropdown__body">
                                <div class="dropdown__body-wrap">
                                  <ul class="alternation-list">
                                    <li>Подготовка пациентов к лабораторным методам обследований и правила сбора биологического материала </li>
                                    <li>Порт - система Селсайт (Celsite) </li>
                                    <li>Проведение добровольного обследования на антитела к ВИЧ </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="dropdown">
                            <div class="dropdown-wrap">
                              <div class="dropdown__header">Свидетельства о повышении квалификации Врач-акушер-гинеколог:<span>
                                   Показать<i class="fa fa-chevron-down"></i></span></div>
                              <div class="dropdown__body">
                                <div class="dropdown__body-wrap">
                                  <ul class="alternation-list">
                                    <li>Подготовка пациентов к лабораторным методам обследований и правила сбора биологического материала </li>
                                    <li>Порт - система Селсайт (Celsite) </li>
                                    <li>Проведение добровольного обследования на антитела к ВИЧ </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="dropdown">
                            <div class="dropdown-wrap">
                              <div class="dropdown__header">Свидетельства о повышении квалификации Врач-акушер-гинеколог:<span>
                                   Показать<i class="fa fa-chevron-down"></i></span></div>
                              <div class="dropdown__body">
                                <div class="dropdown__body-wrap">
                                  <ul class="alternation-list">
                                    <li>Подготовка пациентов к лабораторным методам обследований и правила сбора биологического материала </li>
                                    <li>Порт - система Селсайт (Celsite) </li>
                                    <li>Проведение добровольного обследования на антитела к ВИЧ </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </article>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="sidebar">
                <h3>Наши услуги</h3>
                <ul class="sidebar-menu">
                  <li><a href="/uslugi/141.html"><span>Аллергология и иммунология</span></a></li>
                  <li><a href="/uslugi/140.html"><span>Акушерство и гинекология</span></a></li>
                  <li><a href="/uslugi/142.html"><span>Андрология и урология</span></a></li>
                  <li><a href="/uslugi/143.html"><span>Гематология</span></a></li>
                  <li><a href="/uslugi/144.html"><span>Дерматология и венерология</span></a></li>
                  <li><a href="/uslugi/145.html"><span>Сердечно-сосудистая хирургия</span></a></li>
                  <li><a href="/uslugi/146.html"><span>Неврология</span></a></li>
                  <li><a href="/uslugi/147.html"><span>Онкология и маммология</span></a></li>
                  <li><a href="/uslugi/148.html"><span>Офтальмология</span></a></li>
                  <li><a href="/uslugi/149.html"><span>Педиатрия</span></a></li>
                  <li><a href="/uslugi/150.html"><span>Процедурный кабинет</span></a></li>
                  <li><a href="/uslugi/151.html"><span>Терапия и гастроэнтерология</span></a></li>
                  <li><a href="/uslugi/84.html"><span>Ультразвуковая диагностика</span></a></li>
                  <li><a href="/uslugi/83.html"><span>Эндокринология</span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="certificate-slider slider">
            <div class="certificate-slider__item"><a class="zoom-btn fancybox" href="/upload/iblock/d5d/sertifikat Myakisheva1.jpg"><i class="zoom-icon"></i></a><a class="fancybox certificate-slider__item--img" href="/upload/iblock/d5d/sertifikat Myakisheva1.jpg"><img src="https://primula.su/img.php/?src=/upload/iblock/d5d/sertifikat Myakisheva1.jpg&amp;w=213&amp;h=267" alt=""></a></div>
            <div class="certificate-slider__item"><a class="zoom-btn fancybox" href="/upload/iblock/cbc/sertifikat Myakisheva2_780x552.jpg"><i class="zoom-icon"></i></a><a class="fancybox certificate-slider__item--img" href="/upload/iblock/cbc/sertifikat Myakisheva2_780x552.jpg"><img src="https://primula.su/img.php/?src=/upload/iblock/cbc/sertifikat Myakisheva2_780x552.jpg&amp;w=213&amp;h=267" alt=""></a></div>
          </div>
          <section class="section schedule">
            <h2><span>Расписание работы</span></h2>
            <table class="schedule-table">
              <thead>
                <tr>
                  <td></td>
                  <td>Пн</td>
                  <td>Вт</td>
                  <td>Ср</td>
                  <td>Чт</td>
                  <td>Пт</td>
                  <td>Сб</td>
                  <td>Вс</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="schedule-table__doctor">
                    <div style="display: flex;"><img src="https://primula.su/img.php/?src=/upload/iblock/598/team_2.jpg&amp;w=67&amp;h=67" alt=""><span style="padding-top: 10px;"><a href="/doctors/myakisheva-lyudmila-gennadevna.html">Мякишева Людмила Геннадьевна</a></span></div>
                  </td>
                  <td colspan="1">17.30-20.30</td>
                  <td colspan="1">12.00-17.00</td>
                  <td colspan="1">-</td>
                  <td colspan="1">09.00-13.00</td>
                  <td colspan="1">17.30-20.30</td>
                  <td colspan="1">10.00-14.00</td>
                  <td colspan="1">по нечетным 10.00-14.00</td>
                </tr>
              </tbody>
            </table>
            <div class="center-align"><a class="fancybox btn btn-green" href="#modal-appointment"><span>Записаться онлайн</span><i class="icon icon-arrow-next"></i></a></div>
          </section>
        </div>
      </section>
      <div class="consultation">
        <div class="container">
          <form class="form consultation-form sendMessageForm" action="#">
            <div class="consultation-form__subtitle"><br><br>Остались вопросы?</div>
            <div class="consultation-form__title">Обратитесь на консультацию к специалисту</div>
            <div class="consultation-form__row">
              <input class="form-field" type="text" required="" name="name" placeholder="Имя Фамилия Отчество">
              <input class="form-field phoneMask" type="text" required="" name="phone" placeholder="Номер телефона">
              <button class="btn btn-green__transparent" type="submit">Отправить</button>
            </div>
            <div class="form-agreement">
              <input id="agreement" type="checkbox">
              <label for="agreement">согласен с <a href="/politika-konfidentsialnosti/">Пользовательским соглашением</a>об обработке и передачи персональных данных</label>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="footer-content">
          <div class="footer-contacts">
            <div class="footer-title">Частный медицинский центр "ПРИМУЛА"</div>
            <div class="footer-address">Красноярск, мкр-н Новая Покровка, ул. Чернышевского 63.</div>
            <div class="footer-phone">
              <div class="footer-phone-list">
                <div class="header-phone__item"><strong><a href="tel:73912068073">+7 (391) 206-80-73</a></strong> /<a href="tel:73912806078"> 280-60-78</a></div>
                <div class="header-phone__item"><a href="tel:73912806079">+7 (391) 280-60-79</a></div>
              </div>
              <div class="footer-phone__title">- координатор по лечению варикоза</div>
            </div><a class="footer-mail" href="mailto:info@primula.su">info@primula.su</a>
          </div>
          <ul class="footer-menu">
            <li><a href="/raspisanie/">Расписание клиники</a></li>
            <li><a href="/prays/">Наш прайс</a></li>
            <li><a href="/stati/">Статьи</a></li>
            <li><a href="/kontakty/">Контакты</a></li>
            <li><a href="/ogrn-litsenziya/">ОГРН, Лицензия</a></li>
            <li><a href="/nadzornye-organy/">Надзорные органы</a></li>
            <li><a href="/ustav/">Устав</a></li>
            <li><a href="/otzyvy/">Отзывы</a></li>
            <li><a href="/karta-sayta/">Карта сайта</a></li>
            <li><a href="/politika-konfidentsialnosti/">Политика<br> конфиденциальности</a></li>
            <li><a href="/pravila-okazaniya-meditsinskikh-uslug/">Правила оказания<br> медицинских услуг</a></li>
          </ul><a class="footer-up" href="javascript:void(0);"><i class="fa fa-angle-up"></i></a>
        </div>
        <div class="footer-bottom">
          <div class="footer-copyright">© 2019 ООО ЧМЦ "Примула"</div>
          <div class="footer-warning">Имеются противопоказания.<br> Необходима консультация специалиста.</div>
          <ul class="footer-social">
            <li><a href="https://vk.com/public174510274"><img src="/local/templates/main/img/icon-social-vk.svg" alt=""></a></li>
            <li><a href="https://www.instagram.com/primula24/"><img src="/local/templates/main/img/icon-social-inst.svg" alt=""></a></li>
          </ul>
        </div>
      </div>
    </footer>
  <script type="text/javascript" src="bundle.js"></script></body>
</html>
