dist/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Медицинский центр в Красноярске - "Примула". Многопрофильный, частный медицинский центр</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="image/x-icon" rel="shortcut icon" href="/upload/favicon.ico">
    <!--if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    -->
    <script src="https://lidrekon.ru/slep/js/jquery.js"></script>
    <script src="https://lidrekon.ru/slep/js/uhpv-full.min.js"></script>
  <link href="main.css" rel="stylesheet"></head>
  <body>
<header>
  <div class="header-top">
    <div class="container">
      <div class="justify-align">
        <ul class="header-top__menu">
          <li><a href="/company/">Про нас</a></li>
          <li><a href="/stati/">Статьи</a></li>
          <li><a href="/patsientu/">Пациенту</a></li>
          <li><a href="/otzyvy/">Отзывы</a></li>
        </ul><a class="poorvision" id="specialButton" href="#">Версия для слабовидящих</a>
      </div>
    </div>
  </div>
  <div class="header-middle">
    <div class="container">
      <div class="header-middle__wrap justify-align">
        <div class="header-middle__left">
          <ul class="header-social">
            <li><a href="javascript:void(0);"><img src="https://primula.su/local/templates/main/img/icon-social-vk.svg" alt=""></a></li>
            <li><a href="javascript:void(0);"><img src="https://primula.su/local/templates/main/img/icon-social-inst.svg" alt=""></a></li>
          </ul>
        </div><a class="logo" href="/"><img src="https://primula.su/local/templates/main/img/logo.png" alt=""></a>
        <div class="header-middle__right"><a class="header-phone" href="tel:73912068073">+7 (391) 206-80-73</a></div>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
      <div class="justify-align">
        <button class="burger-menu"><span></span><span></span><span></span></button>
        <ul class="main-menu">
          <li class="drop"><a href="/uslugi/">Услуги</a><i class="icon icon-arrow-down"></i>
            <ul>
              <li><a href="/uslugi/allergologiya-i-immunologiya.html">Аллергология и иммунология</a></li>
              <li><a href="/uslugi/akusherstvo-i-ginekologiya.html">Акушерство и гинекология</a></li>
              <li><a href="/uslugi/andrologiya-i-urologiya.html">Андрология и урология</a></li>
              <li><a href="/uslugi/gematologiya.html">Гематология</a></li>
              <li><a href="/uslugi/dermatologiya-i-venerologiya.html">Дерматология и венерология</a></li>
              <li><a href="/uslugi/serdechno-sosudistaya-khirurgiya.html">Сердечно-сосудистая хирургия</a></li>
              <li><a href="/uslugi/nevrologiya.html">Неврология</a></li>
              <li><a href="/uslugi/onkologiya-i-mammologiya.html">Онкология и маммология</a></li>
              <li><a href="/uslugi/oftalmologiya.html">Офтальмология</a></li>
              <li><a href="/uslugi/pediatriya.html">Педиатрия</a></li>
              <li><a href="/uslugi/protsedurnyy-kabinet.html">Процедурный кабинет</a></li>
              <li><a href="/uslugi/terapiya-i-gastroenterologiya.html">Терапия и гастроэнтерология</a></li>
              <li><a href="/uslugi/ultrazvukovaya-diagnostika.html">Ультразвуковая диагностика</a></li>
              <li><a href="/uslugi/endokrinologiya.html">Эндокринология</a></li>
            </ul>
          </li>
          <li><a href="/prays/">Прайс</a></li>
          <li><a href="/raspisanie-priyoma-doktorov/">Расписание</a></li>
          <li><a href="/doctors/">Коллектив</a></li>
          <li><a href="/kontakty/">Контакты</a></li>
        </ul><a class="btn fancybox" href="#modal-appointment">Записаться на приём</a>
      </div>
    </div>
    <div class="modal modal-appointment" id="modal-appointment">
      <div class="modal-header">Запись к специалисту</div>
      <div class="modal-body">
        <form class="modal-form sendMessageForm2">
          <div class="modal-form__item">
            <label>Ваше имя</label>
            <input class="modal-form__field" type="text" name="name" required="" placeholder="Имя">
          </div>
          <div class="modal-form__item">
            <label>Ваш телефон</label>
            <input class="phoneMask modal-form__field" type="text" name="phone" required="" placeholder="+7 ХХХ ХХХ ХХ-ХХ">
          </div>
          <div class="modal-form__item">
            <label>Выберите специалиста</label>
            <div class="select-wrap">
              <select name="spec">
                <option value="Акушер-гинеколог">Акушер-гинеколог</option>
                <option value="Аллерголог-иммунолог">Аллерголог-иммунолог</option>
                <option value="Андролог-уролог">Андролог-уролог</option>
                <option value="Врач уролог">Врач уролог</option>
                <option value="Врач функциональной диагностики">Врач функциональной диагностики</option>
                <option value="Гематолог">Гематолог</option>
                <option value="Кабинет УЗД">Кабинет УЗД</option>
                <option value="Кардиолог">Кардиолог</option>
                <option value="Онколог">Онколог</option>
                <option value="Сердечно-сосудистый хирург">Сердечно-сосудистый хирург</option>
                <option value="Терапевт.Гастроэнтеролог">Терапевт.Гастроэнтеролог</option>
                <option value="Эндокринолог">Эндокринолог</option>
              </select>
            </div>
          </div>
          <div class="modal-form__item">
            <label>Дата приема</label>
            <input class="modal-form__field" type="date" value="2020-03-05" min="2020-03-05" name="date" placeholder="12.12.2015">
          </div>
          <div class="modal-form__item">
            <label>Время приема</label>
            <input class="modal-form__field" type="text" name="time" placeholder="12:00">
          </div>
          <button class="btn">Записаться</button>
        </form>
      </div>
    </div>
    <div class="modal modal-thanks" id="modal-thanks">
      <div class="modal-header">Спасибо за обращение</div>
      <div class="modal-body">
        <p>Вам перезвонят через 5 минут</p>
        <button class="btn" data-fancybox-close="">Хорошо</button>
      </div>
    </div>
  </div>
</header>
    <div class="content">
      <div class="banner">
        <div class="banner-item"><a href=""><img src="https://primula.su/img.php/?src=/upload/iblock/2b6/8-march-banner.jpg&amp;w=1920&amp;h=556" alt="">
            <div class="banner-item__overlay">
              <div class="container">
                <div class="banner-title"></div>
              </div>
            </div></a></div>
        <div class="banner-item"><a href=""><img src="https://primula.su/img.php/?src=/upload/iblock/587/complex-woman--banner.jpg&amp;w=1920&amp;h=556" alt="">
            <div class="banner-item__overlay">
              <div class="container">
                <div class="banner-title"></div>
              </div>
            </div></a></div>
        <div class="banner-item"><a href="/uslugi/andrologiya-i-urologiya.html"><img src="https://primula.su/img.php/?src=/upload/iblock/41b/banner-23feb.jpg&amp;w=1920&amp;h=556" alt="">
            <div class="banner-item__overlay">
              <div class="container">
                <div class="banner-title"></div>
              </div>
            </div></a></div>
      </div>
      <div class="services">
        <div class="container">
          <div class="services-wrap row">
            <div class="col-md-4 col-sm-6 col-xs-6"><a class="services-item" href="/uslugi/allergologiya-i-immunologiya.html"><span class="services-item__icon"><i class="icon icon-mainservices3"></i></span><span class="services-item__text">Аллергология и иммунология</span></a></div>
            <div class="col-md-4 col-sm-6 col-xs-6"><a class="services-item" href="/uslugi/akusherstvo-i-ginekologiya.html"><span class="services-item__icon"><i class="icon icon-mainservices1"></i></span><span class="services-item__text">Акушерство и гинекология</span></a></div>
            <div class="col-md-4 col-sm-6 col-xs-6"><a class="services-item" href="/uslugi/andrologiya-i-urologiya.html"><span class="services-item__icon"><i class="icon icon-mainservices4"></i></span><span class="services-item__text">Андрология и урология</span></a></div>
            <div class="col-md-4 col-sm-6 col-xs-6"><a class="services-item" href="/uslugi/dermatologiya-i-venerologiya.html"><span class="services-item__icon"><i class="icon icon-mainservices9"></i></span><span class="services-item__text">Дерматология и венерология</span></a></div>
            <div class="col-md-4 col-sm-6 col-xs-6"><a class="services-item" href="/uslugi/serdechno-sosudistaya-khirurgiya.html"><span class="services-item__icon"><i class="icon icon-mainservices5"></i></span><span class="services-item__text">Сердечно-сосудистая хирургия</span></a></div>
            <div class="col-md-4 col-sm-6 col-xs-6"><a class="services-item" href="/uslugi/nevrologiya.html"><span class="services-item__icon"><i class="icon icon-mainservices8"></i></span><span class="services-item__text">Неврология</span></a></div>
            <div class="col-md-4 col-sm-6 col-xs-6"><a class="services-item" href="/uslugi/oftalmologiya.html"><span class="services-item__icon"><i class="icon icon-mainservices6"></i></span><span class="services-item__text">Офтальмология</span></a></div>
            <div class="col-md-4 col-sm-6 col-xs-6"><a class="services-item" href="/uslugi/pediatriya.html"><span class="services-item__icon"><i class="icon icon-mainservices7"></i></span><span class="services-item__text">Педиатрия</span></a></div>
            <div class="col-md-4 col-sm-6 col-xs-6"><a class="services-item" href="/uslugi/ultrazvukovaya-diagnostika.html"><span class="services-item__icon"><i class="icon icon-mainservices2"></i></span><span class="services-item__text">Ультразвуковая диагностика</span></a></div>
          </div>
        </div>
      </div>
      <section class="section team">
        <div class="container">
          <h1 style="margin-bottom:20px;"><span style="font-size: 18px; font-weight: normal; text-align: center;">Медицинский центр «Примула» — многопрофильный, частный медицинский центр в Красноярске</span></h1>
          <h2><span>Наши специалисты</span></h2>
          <h5>Профессионализм и опыт приоритетны для нас в выборе персонала</h5>
          <div class="team-slider slider">
            <div class="team-item">
              <div class="team-item__img"><img src="https://primula.su/img.php/?src=&amp;w=284&amp;h=284" alt=""></div>
              <div class="team-item__name"><a href="/doctors/dranishnikova-tatyana-vyacheslavovna.html">Дранишникова Татьяна Вячеславовна</a></div>
              <div class="team-item__post">Главный врач, врач-дерматовенеролог</div>
            </div>
            <div class="team-item">
              <div class="team-item__img"><img src="https://primula.su/img.php/?src=/upload/iblock/598/team_2.jpg&amp;w=284&amp;h=284" alt=""></div>
              <div class="team-item__name"><a href="/doctors/myakisheva-lyudmila-gennadevna.html">Мякишева Людмила Геннадьевна</a></div>
              <div class="team-item__post">Директор, <a href="/uslugi/akusherstvo-i-ginekologiya.html" title="Запись к гинекологу">врач-акушер-гинеколог</a>, <a href="/uslugi/ultrazvukovaya-diagnostika.html" title="УЗИ в Красноярске">врач-УЗД</a></div>
            </div>
            <div class="team-item">
              <div class="team-item__img"><img src="https://primula.su/img.php/?src=/upload/iblock/c3b/suchev.png&amp;w=284&amp;h=284" alt=""></div>
              <div class="team-item__name"><a href="/doctors/sychev-aleksey-valerevich.html">Сычев Алексей Валерьевич</a></div>
              <div class="team-item__post"><a href="/uslugi/onkologiya-i-mammologiya.html" title="Прием онколога">Врач-онколог</a>, <a href="/uslugi/akusherstvo-i-ginekologiya.html" title="Запись к гинекологу">акушер-гинеколог</a></div>
            </div>
            <div class="team-item">
              <div class="team-item__img"><img src="https://primula.su/img.php/?src=/upload/iblock/9ae/%D0%9A%D1%83%D1%8E%D0%BA%D0%BE%D0%B2%D0%B0%20%D0%A2.%D0%A1.%20%D0%B2%D1%80%D0%B0%D1%87%20%D0%B0%D0%BA%D1%83%D1%88%D0%B5%D1%80-%D0%B3%D0%B8%D0%BD%D0%B5%D0%BA%D0%BE%D0%BB%D0%BE%D0%B3.png&amp;w=284&amp;h=284" alt=""></div>
              <div class="team-item__name"><a href="/doctors/kuyukova-tatyana-sergeevna.html">Куюкова Татьяна Сергеевна</a></div>
              <div class="team-item__post"><a href="/uslugi/akusherstvo-i-ginekologiya.html" title="Записаться на прием к гинекологу">Врач-акушер-гинеколог</a></div>
            </div>
            <div class="team-item">
              <div class="team-item__img"><img src="https://primula.su/img.php/?src=/upload/iblock/7e4/avdeenko.png&amp;w=284&amp;h=284" alt=""></div>
              <div class="team-item__name"><a href="/doctors/avdeenko-maksim-viktorovich.html">Авдеенко Максим Викторович</a></div>
              <div class="team-item__post"><a href="/uslugi/onkologiya-i-mammologiya.html" title="Прием онколога">Врач-онколог</a>, к.м.н.,</div>
            </div>
            <div class="team-item">
              <div class="team-item__img"><img src="https://primula.su/img.php/?src=/upload/iblock/e98/bril.png&amp;w=284&amp;h=284" alt=""></div>
              <div class="team-item__name"><a href="/doctors/bril-marina-yurevna.html">Бриль Марина Юрьевна</a></div>
              <div class="team-item__post"><a href="/uslugi/terapiya-i-gastroenterologiya.html" title="Консультация гастроэнтеролога">Врач-терапевт-гастроэнтеролог</a>, кардиолог</div>
            </div>
            <div class="team-item">
              <div class="team-item__img"><img src="https://primula.su/img.php/?src=/upload/iblock/4ff/getc.png&amp;w=284&amp;h=284" alt=""></div>
              <div class="team-item__name"><a href="/doctors/getts-anastasiya-aleksandrovna.html">Гетц Анастасия Александровна</a></div>
              <div class="team-item__post">Врач-<a href="/uslugi/ultrazvukovaya-diagnostika.html" title="Ультразвуковая диагностика (УЗИ) в Красноярске">УЗД</a>.</div>
            </div>
            <div class="team-item">
              <div class="team-item__img"><img src="https://primula.su/img.php/?src=/upload/iblock/fa0/erahtin.png&amp;w=284&amp;h=284" alt=""></div>
              <div class="team-item__name"><a href="/doctors/erakhtin-pavel-evgenevich.html">Ерахтин Павел Евгеньевич</a></div>
              <div class="team-item__post"><a href="/uslugi/serdechno-sosudistaya-khirurgiya.html" title="Консультация сердечно-сосудистого хирурга">Сердечно-сосудистый хирург</a>, врач-<a href="/uslugi/ultrazvukovaya-diagnostika.html" title="УЗИ в Красноярске">УЗД</a></div>
            </div>
            <div class="team-item">
              <div class="team-item__img"><img src="https://primula.su/img.php/?src=/upload/iblock/d78/elina.png&amp;w=284&amp;h=284" alt=""></div>
              <div class="team-item__name"><a href="/doctors/elina-lyudmila-borisovna.html">Елина Людмила Борисовна</a></div>
              <div class="team-item__post"><a href="/uslugi/endokrinologiya.html" title="Прием эндокринолога">Врач-эндокринолог</a></div>
            </div>
            <div class="team-item">
              <div class="team-item__img"><img src="https://primula.su/img.php/?src=/upload/iblock/58c/%D0%9A%D1%83%D0%BD%D0%B3%D1%83%D1%80%D0%BE%D0%B2%D0%B0%D0%9E.%D0%94.png&amp;w=284&amp;h=284" alt=""></div>
              <div class="team-item__name"><a href="/doctors/kungurova-olga-dmitrievna.html">Кунгурова Ольга Дмитриевна</a></div>
              <div class="team-item__post">Врач-<a href="/uslugi/ultrazvukovaya-diagnostika.html" title="Ультразвуковая диагностика (УЗИ) в Красноярске">УЗД</a></div>
            </div>
            <div class="team-item">
              <div class="team-item__img"><img src="https://primula.su/img.php/?src=/upload/iblock/3d3/tokarev.png&amp;w=284&amp;h=284" alt=""></div>
              <div class="team-item__name"><a href="/doctors/tokarev-andrey-vladimirovich.html">Токарев Андрей Владимирович</a></div>
              <div class="team-item__post"><a href="/uslugi/serdechno-sosudistaya-khirurgiya.html" title="Консультация сердечно-сосудистого хирурга">Врач-сердечно-сосудистый хирург</a>, к.м.н.</div>
            </div>
            <div class="team-item">
              <div class="team-item__img"><img src="https://primula.su/img.php/?src=/upload/iblock/b4e/%D0%9F%D1%80%D0%BE%D0%BD%D1%8C%D0%BA%D0%B8%D0%BD%D0%B0%20%D0%9D.%D0%A1.png&amp;w=284&amp;h=284" alt=""></div>
              <div class="team-item__name"><a href="/doctors/pronkina-natalya-sergeevna.html">Пронькина Наталья Сергеевна</a></div>
              <div class="team-item__post"><a href="/uslugi/allergologiya-i-immunologiya.html" title="Аллерголог-иммунолог">Врач-аллерголог-иммунолог</a></div>
            </div>
            <div class="team-item">
              <div class="team-item__img"><img src="https://primula.su/img.php/?src=/upload/iblock/a87/%D0%AE%D0%BD%D0%BA%D0%B5%D1%80%20%D0%90.%D0%98%20%D0%B2%D1%80%D0%B0%D1%87%20%D1%83%D1%80%D0%BE%D0%BB%D0%BE%D0%B3.png&amp;w=284&amp;h=284" alt=""></div>
              <div class="team-item__name"><a href="/doctors/yunker-aleksandr-iosifovich.html">Юнкер Александр Иосифович</a></div>
              <div class="team-item__post"><a href="/uslugi/andrologiya-i-urologiya.html" title="Прием уролога">Врач-уролог</a></div>
            </div>
            <div class="team-item">
              <div class="team-item__img"><img src="https://primula.su/img.php/?src=/upload/iblock/e1a/%D0%9B%D0%B0%D0%BB%D0%B5%D1%82%D0%B8%D0%BD%20%D0%94%D0%98%20%D0%B2%D1%80%D0%B0%D1%87%20%D1%83%D1%80%D0%BE%D0%BB%D0%BE%D0%B3.png&amp;w=284&amp;h=284" alt=""></div>
              <div class="team-item__name"><a href="/doctors/laletin-dmitriy-ivanovich.html">Лалетин Дмитрий Иванович</a></div>
              <div class="team-item__post"><a href="/uslugi/andrologiya-i-urologiya.html" title="Прием уролога">Врач-уролог</a></div>
            </div>
            <div class="team-item">
              <div class="team-item__img"><img src="https://primula.su/img.php/?src=/upload/iblock/9d9/Elizareva.png&amp;w=284&amp;h=284" alt=""></div>
              <div class="team-item__name"><a href="/doctors/elizareva-nataliya-aleksandrovna.html">Елизарьева Наталия Александровна</a></div>
              <div class="team-item__post">Главная медицинская сестра</div>
            </div>
            <div class="team-item">
              <div class="team-item__img"><img src="https://primula.su/img.php/?src=/upload/iblock/0b6/barylina.png&amp;w=284&amp;h=284" alt=""></div>
              <div class="team-item__name"><a href="/doctors/barulina-natalya-viktorovna.html">Барулина Наталья Викторовна</a></div>
              <div class="team-item__post">Медицинская сестра</div>
            </div>
            <div class="team-item">
              <div class="team-item__img"><img src="https://primula.su/img.php/?src=/upload/iblock/3ce/%D0%95%D1%80%D0%BC%D0%B0%D0%BA%D0%BE%D0%B2%D0%B0%20%D0%9E.%D0%95.%20%D0%B0%D0%B4%D0%BC%D0%B8%D0%BD%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%82%D0%BE%D1%80.png&amp;w=284&amp;h=284" alt=""></div>
              <div class="team-item__name"><a href="/doctors/ermakova-olga-evgenevna.html">Ермакова Ольга Евгеньевна</a></div>
              <div class="team-item__post">Медицинская сестра, операционная медицинская сестра</div>
            </div>
          </div>
        </div>
      </section>
      <section class="section medcenter">
        <div class="container">
          <h2><span>Оцените медицинский центр сами</span></h2>
          <div class="medcenter-wrap row">
            <div class="col-md-4 col-sm-6"><a class="medcenter-item" href="javascript:void(0);"><span class="medcenter-item__number">01</span><span class="medcenter-item__title">Современное оборудование</span><span class="medcenter-item__text">Ультразвуковая диагностика на УЗИ - сканере последнего поколения с программами для исследования любого органа.</span></a></div>
            <div class="col-md-4 col-sm-6"><a class="medcenter-item" href="javascript:void(0);"><span class="medcenter-item__number">02</span><span class="medcenter-item__title">Оказание услуг<br>без медицинского полиса</span><span class="medcenter-item__text">
                  Документ
                  обязательного медицинского страхования был утерян или еще не получен?
                  Принимаем пациентов без него в рамках платных медицинских услуг.</span></a></div>
            <div class="col-md-4 col-sm-6"><a class="medcenter-item" href="javascript:void(0);"><span class="medcenter-item__number">03</span><span class="medcenter-item__title">Стационар одного дня</span><span class="medcenter-item__text">Ультра современное оборудование, оптика, видеокамера, используемые ежедневно в практике врачей.<br>Возможность уходить домой в этот же день, не меняя привычный образ жизни.</span></a></div>
            <div class="col-md-4 col-sm-6"><a class="medcenter-item" href="javascript:void(0);"><span class="medcenter-item__number">04</span><span class="medcenter-item__title">Никаких очередей</span><span class="medcenter-item__text">Посещение врачей любой специализации производится исключительно по предварительной записи. Мы стремимся начинать приём строго в назначенное время.</span></a></div>
            <div class="col-md-4 col-sm-6"><a class="medcenter-item" href="javascript:void(0);"><span class="medcenter-item__number">05</span><span class="medcenter-item__title">Варикозная болезнь</span><span class="medcenter-item__text">РЧА - радииочасточная абляция варикозных вен нижних конечностей. Проводится амбулаторно, пациент может вернуться к труду на следующий день. Индивидуальный подбор эластичных компрессионных медицинский изделий.</span></a></div>
            <div class="col-md-4 col-sm-6"><a class="medcenter-item" href="javascript:void(0);"><span class="medcenter-item__number">06</span><span class="medcenter-item__title">Эстетическая гинекология</span><span class="medcenter-item__text">Интимная контурная пластика. Реконструктивная интимная хирургия. Восстановление девственной плевы.  Малоинвазивная перинеопластика и т.д.</span></a></div>
          </div>
        </div>
      </section>
      <div class="consultation">
        <div class="container">
          <form class="form consultation-form sendMessageForm" action="#">
            <div class="consultation-form__subtitle"><br><br>Остались вопросы?</div>
            <div class="consultation-form__title">Обратитесь на консультацию к специалисту</div>
            <div class="consultation-form__row">
              <input class="form-field" type="text" required="" name="name" placeholder="Имя Фамилия Отчество">
              <input class="form-field phoneMask" type="text" required="" name="phone" placeholder="Номер телефона">
              <button class="btn btn-green__transparent" type="submit">Отправить</button>
            </div>
            <div class="form-agreement">
              <input id="agreement" type="checkbox">
              <label for="agreement">согласен с <a href="/politika-konfidentsialnosti/">Пользовательским соглашением</a>об обработке и передачи персональных данных</label>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="footer-content">
          <div class="footer-contacts">
            <div class="footer-title">Частный медицинский центр "ПРИМУЛА"</div>
            <div class="footer-address">Красноярск, мкр-н Новая Покровка, ул. Чернышевского 63.</div>
            <div class="footer-phone">
              <div class="footer-phone-list">
                <div class="header-phone__item"><strong><a href="tel:73912068073">+7 (391) 206-80-73</a></strong> /<a href="tel:73912806078"> 280-60-78</a></div>
                <div class="header-phone__item"><a href="tel:73912806079">+7 (391) 280-60-79</a></div>
              </div>
              <div class="footer-phone__title">- координатор по лечению варикоза</div>
            </div><a class="footer-mail" href="mailto:info@primula.su">info@primula.su</a>
          </div>
          <ul class="footer-menu">
            <li><a href="/raspisanie/">Расписание клиники</a></li>
            <li><a href="/prays/">Наш прайс</a></li>
            <li><a href="/stati/">Статьи</a></li>
            <li><a href="/kontakty/">Контакты</a></li>
            <li><a href="/ogrn-litsenziya/">ОГРН, Лицензия</a></li>
            <li><a href="/nadzornye-organy/">Надзорные органы</a></li>
            <li><a href="/ustav/">Устав</a></li>
            <li><a href="/otzyvy/">Отзывы</a></li>
            <li><a href="/karta-sayta/">Карта сайта</a></li>
            <li><a href="/politika-konfidentsialnosti/">Политика<br>конфиденциальности</a></li>
            <li><a href="/pravila-okazaniya-meditsinskikh-uslug/">Правила оказания<br>медицинских услуг</a></li>
          </ul><a class="footer-up" href="javascript:void(0);"><i class="fa fa-angle-up"></i></a>
        </div>
        <div class="footer-bottom">
          <div class="footer-copyright">© 2019 ООО ЧМЦ "Примула"</div>
          <div class="footer-warning">Имеются противопоказания.<br> Необходима консультация специалиста.</div>
          <ul class="footer-social">
            <li><a href="https://vk.com/public174510274"><img src="https://primula.su/local/templates/main/img/icon-social-vk.svg" alt=""></a></li>
            <li><a href="https://www.instagram.com/primula24/"><img src="https://primula.su/local/templates/main/img/icon-social-inst.svg" alt=""></a></li>
          </ul>
        </div>
      </div>
    </footer>
  <script type="text/javascript" src="bundle.js"></script></body>
</html>

src/index.pug
doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Медицинский центр в Красноярске - "Примула". Многопрофильный, частный медицинский центр
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(type='image/x-icon', rel='shortcut icon', href='/upload/favicon.ico')
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    script(src='https://lidrekon.ru/slep/js/jquery.js')
    script(src='https://lidrekon.ru/slep/js/uhpv-full.min.js')
  body
    include includes/header.pug

    .content
      .banner
        .banner-item
          a(href='')
            img(src='https://primula.su/img.php/?src=/upload/iblock/2b6/8-march-banner.jpg&w=1920&h=556', alt='')
            .banner-item__overlay
              .container
                .banner-title
        .banner-item
          a(href='')
            img(src='https://primula.su/img.php/?src=/upload/iblock/587/complex-woman--banner.jpg&w=1920&h=556', alt='')
            .banner-item__overlay
              .container
                .banner-title
        .banner-item
          a(href='/uslugi/andrologiya-i-urologiya.html')
            img(src='https://primula.su/img.php/?src=/upload/iblock/41b/banner-23feb.jpg&w=1920&h=556', alt='')
            .banner-item__overlay
              .container
                .banner-title
      .services
        .container
          .services-wrap.row
            .col-md-4.col-sm-6.col-xs-6
              a.services-item(href='/uslugi/allergologiya-i-immunologiya.html')
                span.services-item__icon
                  i.icon.icon-mainservices3
                span.services-item__text Аллергология и иммунология
            .col-md-4.col-sm-6.col-xs-6
              a.services-item(href='/uslugi/akusherstvo-i-ginekologiya.html')
                span.services-item__icon
                  i.icon.icon-mainservices1
                span.services-item__text Акушерство и гинекология
            .col-md-4.col-sm-6.col-xs-6
              a.services-item(href='/uslugi/andrologiya-i-urologiya.html')
                span.services-item__icon
                  i.icon.icon-mainservices4
                span.services-item__text Андрология и урология
            .col-md-4.col-sm-6.col-xs-6
              a.services-item(href='/uslugi/dermatologiya-i-venerologiya.html')
                span.services-item__icon
                  i.icon.icon-mainservices9
                span.services-item__text Дерматология и венерология
            .col-md-4.col-sm-6.col-xs-6
              a.services-item(href='/uslugi/serdechno-sosudistaya-khirurgiya.html')
                span.services-item__icon
                  i.icon.icon-mainservices5
                span.services-item__text Сердечно-сосудистая хирургия
            .col-md-4.col-sm-6.col-xs-6
              a.services-item(href='/uslugi/nevrologiya.html')
                span.services-item__icon
                  i.icon.icon-mainservices8
                span.services-item__text Неврология
            .col-md-4.col-sm-6.col-xs-6
              a.services-item(href='/uslugi/oftalmologiya.html')
                span.services-item__icon
                  i.icon.icon-mainservices6
                span.services-item__text Офтальмология
            .col-md-4.col-sm-6.col-xs-6
              a.services-item(href='/uslugi/pediatriya.html')
                span.services-item__icon
                  i.icon.icon-mainservices7
                span.services-item__text Педиатрия
            .col-md-4.col-sm-6.col-xs-6
              a.services-item(href='/uslugi/ultrazvukovaya-diagnostika.html')
                span.services-item__icon
                  i.icon.icon-mainservices2
                span.services-item__text Ультразвуковая диагностика
      section.section.team
        .container
          h1(style='margin-bottom:20px;')
            span(style='font-size: 18px; font-weight: normal; text-align: center;')
              | Медицинский центр «Примула» — многопрофильный, частный медицинский центр в Красноярске
          h2
            span Наши специалисты
          h5 Профессионализм и опыт приоритетны для нас в выборе персонала
          .team-slider.slider
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/dranishnikova-tatyana-vyacheslavovna.html') Дранишникова Татьяна Вячеславовна
              .team-item__post Главный врач, врач-дерматовенеролог
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/598/team_2.jpg&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/myakisheva-lyudmila-gennadevna.html') Мякишева Людмила Геннадьевна
              .team-item__post
                | Директор, 
                a(href='/uslugi/akusherstvo-i-ginekologiya.html', title='Запись к гинекологу') врач-акушер-гинеколог
                | , 
                a(href='/uslugi/ultrazvukovaya-diagnostika.html', title='УЗИ в Красноярске') врач-УЗД
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/c3b/suchev.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/sychev-aleksey-valerevich.html') Сычев Алексей Валерьевич
              .team-item__post
                a(href='/uslugi/onkologiya-i-mammologiya.html', title='Прием онколога') Врач-онколог
                | , 
                a(href='/uslugi/akusherstvo-i-ginekologiya.html', title='Запись к гинекологу') акушер-гинеколог
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/9ae/%D0%9A%D1%83%D1%8E%D0%BA%D0%BE%D0%B2%D0%B0%20%D0%A2.%D0%A1.%20%D0%B2%D1%80%D0%B0%D1%87%20%D0%B0%D0%BA%D1%83%D1%88%D0%B5%D1%80-%D0%B3%D0%B8%D0%BD%D0%B5%D0%BA%D0%BE%D0%BB%D0%BE%D0%B3.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/kuyukova-tatyana-sergeevna.html') Куюкова Татьяна Сергеевна
              .team-item__post
                a(href='/uslugi/akusherstvo-i-ginekologiya.html', title='Записаться на прием к гинекологу') Врач-акушер-гинеколог
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/7e4/avdeenko.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/avdeenko-maksim-viktorovich.html') Авдеенко Максим Викторович
              .team-item__post
                a(href='/uslugi/onkologiya-i-mammologiya.html', title='Прием онколога') Врач-онколог
                | , к.м.н.,
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/e98/bril.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/bril-marina-yurevna.html') Бриль Марина Юрьевна
              .team-item__post
                a(href='/uslugi/terapiya-i-gastroenterologiya.html', title='Консультация гастроэнтеролога') Врач-терапевт-гастроэнтеролог
                | , кардиолог
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/4ff/getc.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/getts-anastasiya-aleksandrovna.html') Гетц Анастасия Александровна
              .team-item__post
                | Врач-
                a(href='/uslugi/ultrazvukovaya-diagnostika.html', title='Ультразвуковая диагностика (УЗИ) в Красноярске') УЗД
                | .
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/fa0/erahtin.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/erakhtin-pavel-evgenevich.html') Ерахтин Павел Евгеньевич
              .team-item__post
                a(href='/uslugi/serdechno-sosudistaya-khirurgiya.html', title='Консультация сердечно-сосудистого хирурга') Сердечно-сосудистый хирург
                | , врач-
                a(href='/uslugi/ultrazvukovaya-diagnostika.html', title='УЗИ в Красноярске') УЗД
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/d78/elina.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/elina-lyudmila-borisovna.html') Елина Людмила Борисовна
              .team-item__post
                a(href='/uslugi/endokrinologiya.html', title='Прием эндокринолога') Врач-эндокринолог
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/58c/%D0%9A%D1%83%D0%BD%D0%B3%D1%83%D1%80%D0%BE%D0%B2%D0%B0%D0%9E.%D0%94.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/kungurova-olga-dmitrievna.html') Кунгурова Ольга Дмитриевна
              .team-item__post
                | Врач-
                a(href='/uslugi/ultrazvukovaya-diagnostika.html', title='Ультразвуковая диагностика (УЗИ) в Красноярске') УЗД
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/3d3/tokarev.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/tokarev-andrey-vladimirovich.html') Токарев Андрей Владимирович
              .team-item__post
                a(href='/uslugi/serdechno-sosudistaya-khirurgiya.html', title='Консультация сердечно-сосудистого хирурга') Врач-сердечно-сосудистый хирург
                | , к.м.н.
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/b4e/%D0%9F%D1%80%D0%BE%D0%BD%D1%8C%D0%BA%D0%B8%D0%BD%D0%B0%20%D0%9D.%D0%A1.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/pronkina-natalya-sergeevna.html') Пронькина Наталья Сергеевна
              .team-item__post
                a(href='/uslugi/allergologiya-i-immunologiya.html', title='Аллерголог-иммунолог') Врач-аллерголог-иммунолог
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/a87/%D0%AE%D0%BD%D0%BA%D0%B5%D1%80%20%D0%90.%D0%98%20%D0%B2%D1%80%D0%B0%D1%87%20%D1%83%D1%80%D0%BE%D0%BB%D0%BE%D0%B3.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/yunker-aleksandr-iosifovich.html') Юнкер Александр Иосифович
              .team-item__post
                a(href='/uslugi/andrologiya-i-urologiya.html', title='Прием уролога') Врач-уролог
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/e1a/%D0%9B%D0%B0%D0%BB%D0%B5%D1%82%D0%B8%D0%BD%20%D0%94%D0%98%20%D0%B2%D1%80%D0%B0%D1%87%20%D1%83%D1%80%D0%BE%D0%BB%D0%BE%D0%B3.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/laletin-dmitriy-ivanovich.html') Лалетин Дмитрий Иванович
              .team-item__post
                a(href='/uslugi/andrologiya-i-urologiya.html', title='Прием уролога') Врач-уролог
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/9d9/Elizareva.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/elizareva-nataliya-aleksandrovna.html') Елизарьева Наталия Александровна
              .team-item__post Главная медицинская сестра
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/0b6/barylina.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/barulina-natalya-viktorovna.html') Барулина Наталья Викторовна
              .team-item__post Медицинская сестра
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/3ce/%D0%95%D1%80%D0%BC%D0%B0%D0%BA%D0%BE%D0%B2%D0%B0%20%D0%9E.%D0%95.%20%D0%B0%D0%B4%D0%BC%D0%B8%D0%BD%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%82%D0%BE%D1%80.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/ermakova-olga-evgenevna.html') Ермакова Ольга Евгеньевна
              .team-item__post Медицинская сестра, операционная медицинская сестра
      section.section.medcenter
        .container
          h2
            span Оцените медицинский центр сами
          .medcenter-wrap.row
            .col-md-4.col-sm-6
              a.medcenter-item(href='javascript:void(0);')
                span.medcenter-item__number 01
                span.medcenter-item__title Современное оборудование
                span.medcenter-item__text
                  | Ультразвуковая диагностика на УЗИ - сканере последнего поколения с программами для исследования любого органа.
            .col-md-4.col-sm-6
              a.medcenter-item(href='javascript:void(0);')
                span.medcenter-item__number 02
                span.medcenter-item__title
                  | Оказание услуг
                  br
                  | без медицинского полиса
                span.medcenter-item__text
                  | Документ
                  | обязательного медицинского страхования был утерян или еще не получен?
                  | Принимаем пациентов без него в рамках платных медицинских услуг.
            .col-md-4.col-sm-6
              a.medcenter-item(href='javascript:void(0);')
                span.medcenter-item__number 03
                span.medcenter-item__title Стационар одного дня
                span.medcenter-item__text
                  | Ультра современное оборудование, оптика, видеокамера, используемые ежедневно в практике врачей.
                  br
                  | Возможность уходить домой в этот же день, не меняя привычный образ жизни.
            .col-md-4.col-sm-6
              a.medcenter-item(href='javascript:void(0);')
                span.medcenter-item__number 04
                span.medcenter-item__title Никаких очередей
                span.medcenter-item__text
                  | Посещение врачей любой специализации производится исключительно по предварительной записи. Мы стремимся начинать приём строго в назначенное время.
            .col-md-4.col-sm-6
              a.medcenter-item(href='javascript:void(0);')
                span.medcenter-item__number 05
                span.medcenter-item__title Варикозная болезнь
                span.medcenter-item__text
                  | РЧА - радииочасточная абляция варикозных вен нижних конечностей. Проводится амбулаторно, пациент может вернуться к труду на следующий день. Индивидуальный подбор эластичных компрессионных медицинский изделий.
            .col-md-4.col-sm-6
              a.medcenter-item(href='javascript:void(0);')
                span.medcenter-item__number 06
                span.medcenter-item__title Эстетическая гинекология
                span.medcenter-item__text
                  | Интимная контурная пластика. Реконструктивная интимная хирургия. Восстановление девственной плевы.  Малоинвазивная перинеопластика и т.д.
      .consultation
        .container
          form.form.consultation-form.sendMessageForm(action='#')
            .consultation-form__subtitle
              br
              br
              | Остались вопросы?
            .consultation-form__title
              | Обратитесь на консультацию к специалисту
            .consultation-form__row
              input.form-field(type='text', required='', name='name', placeholder='Имя Фамилия Отчество')
              input.form-field.phoneMask(type='text', required='', name='phone', placeholder='Номер телефона')
              button.btn.btn-green__transparent(type='submit') Отправить
            .form-agreement
              input#agreement(type='checkbox')
              label(for='agreement')
                | согласен с 
                a(href='/politika-konfidentsialnosti/') Пользовательским соглашением
                | об обработке и передачи персональных данных
    footer.footer
      .container
        .footer-content
          .footer-contacts
            .footer-title Частный медицинский центр "ПРИМУЛА"
            .footer-address Красноярск, мкр-н Новая Покровка, ул. Чернышевского 63.
            .footer-phone
              .footer-phone-list
                .header-phone__item
                  strong
                    a(href='tel:73912068073') +7 (391) 206-80-73
                  |  /
                  a(href='tel:73912806078')  280-60-78
                .header-phone__item
                  a(href='tel:73912806079') +7 (391) 280-60-79
              .footer-phone__title - координатор по лечению варикоза
            a.footer-mail(href='mailto:info@primula.su') info@primula.su
          ul.footer-menu
            li
              a(href='/raspisanie/') Расписание клиники
            li
              a(href='/prays/') Наш прайс
            li
              a(href='/stati/') Статьи
            li
              a(href='/kontakty/') Контакты
            li
              a(href='/ogrn-litsenziya/') ОГРН, Лицензия
            li
              a(href='/nadzornye-organy/') Надзорные органы
            li
              a(href='/ustav/') Устав
            li
              a(href='/otzyvy/') Отзывы
            li
              a(href='/karta-sayta/') Карта сайта
            li
              a(href='/politika-konfidentsialnosti/')
                | Политика
                br
                | конфиденциальности
            li
              a(href='/pravila-okazaniya-meditsinskikh-uslug/')
                | Правила оказания
                br
                | медицинских услуг
          a.footer-up(href='javascript:void(0);')
            i.fa.fa-angle-up
        .footer-bottom
          .footer-copyright © 2019 ООО ЧМЦ "Примула"
          .footer-warning
            | Имеются противопоказания.
            br
            |  Необходима консультация специалиста.
          ul.footer-social
            li
              a(href='https://vk.com/public174510274')
                img(src='https://primula.su/local/templates/main/img/icon-social-vk.svg', alt='')
            li
              a(href='https://www.instagram.com/primula24/')
                img(src='https://primula.su/local/templates/main/img/icon-social-inst.svg', alt='')
